.DS_Store
node_modules

# local env files
.env
.env.local
.env.*.local
./server/.env
./client/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# temp upload files
temp/
upload/

# built files
dist/
#public/
deploy.sh

# real data
restaurant-data.json

# env config
env.config.json

# vercel
.vercel